.notif-page {
  padding: 20px;
}

.notif-page h2 {
  margin-bottom: 20px;
  text-align: center;
  text-decoration: wavy;
  font-size: 15px;
}

.notif-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.notif-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: 2px solid wheat;
  transition: 0.2s;
}

.notif-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.notif-card.unread {
  background: #eef6ff;
  border-left: 4px solid #3b82f6;
}

.notif-content h4 {
  margin-bottom: 5px;
}
.notif-content p {
  color: black;
  font-size: 14px;
}
.notif-content small {
  color: blue;
  font-size: 12px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #3b82f6;
  border-radius: 50%;
  margin-top: 5px;
}
.notifications-hero{
  background: url("/public/images/image4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.icon-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notif-badge {
  position: absolute;
  top: -5px;
  right: -5px;

  background: red;
  color: white;
  font-size: 10px;
  font-weight: bold;

  width: 18px;
  height: 18px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid white;
}